<!doctype>
<html ng-app="yourTask">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>yourTaskManager</title>
		<script src="assets/vendor/angular/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
		<link rel="stylesheet" href="assets/vendor/bootstrap4/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/yourTask.css"/>
		<script src="assets/vendor/bootstrap4/js/bootstrap.min.js" ></script>
		<script src="assets/js/myapp.controller.js"></script>
		
	</head>
	<body ng-controller="yourTaskController">
	
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">
		<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
	  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" >
            <a class="nav-link" href="/">Home <!-- span class="sr-only">(current)</span --></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/newtask.html">New Task</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

    <div class="starter-template">
       <h1>yourTaskManager</h1>
       <p class="lead"><br> </p>
    </div>
	 
	 <div class="taskRoller" ng-repeat="task in tasks">
		<div class="tasksBox-container">
			<div class="tasksBox-header">
				{{task.title}}
			</div>
			<div class="tasksBox-description">
				<p class="taskBox-paragrapgh">{{task.description}}</p>
			</div>
			<div class="tasksBox-fromtime" ng-if="task.datetask != ''">
				<p class="taskBox-paragrapgh">When: &nbsp;{{task.datetask|date:'dd-M-yyyy'}}</p>
			</div>
			<div class="tasksBox-fromtime" ng-if="task.fromtime != ''">
				<p class="taskBox-paragrapgh">From: &nbsp;{{task.fromtime}}</p>
			</div>
			<div class="tasksBox-totime" ng-if="task.totime != ''">
				<p class="taskBox-paragrapgh">To: &nbsp;{{task.totime}}</p>
			</div>
		</div>
	</div>

    </main><!-- /.container -->
	<script src="assets/js/yourTask.js"></script>
	</body>
</html>